.list-item {
  display: flex;
  width: 100%;
  padding: 0px 4px;
  font-size: 0.75rem;
  /* gap: 0.25rem; */
}

.list-item.active {
  background-color: var(--background-color);
}

.list-item span:first-child {
  margin-right: auto;
}

.list-item span:nth-child(n + 3):last-child::before {
  content: '-';
}
