.bg-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 0;
}

.bg-container h1 {
  font-weight: 500;
  font-size: 2rem;
}

.bg-logo {
  width: 100px;
  height: auto;
  /* opacity: 0.1; */
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
