.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  padding-left: 8px;
  padding-right: 8px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  background-color: var(--background-color);
}

.logo-container {
  display: flex;
  width: auto;
  gap: 10px;
}

.logo-container span {
  font-size: 1.5rem;
  font-weight: 500;
}

.word {
  display: flex;
  flex-direction: row;
}
