.section {
  min-height: 50vh;
  border-top: 1px solid var(--frame-border-color);
  margin-top: 50px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 3rem;
  font-weight: 400;
}
